{% extends 'base.html' %}

{% block body_content %}

<div class="container-fluid">
    <div class="card base_card mt-5">
        <div class="card_heading">
            <h3>Login</h3>
        </div>
        {% if error_message %}
         <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <div class="form">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label id="login_email">Email</label>
                    <input type="email" id="login_email" class="form-control" name="login_email" placeholder="Enter Email"/>
                </div>
                <div class="form-group">
                    <label for="login_password">Password</label>
                    <input type="password" id="login_password" class="form-control" name="login_password" placeholder="Enter Password"/>
                </div>
                <div class="common-btn">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock body_content %}